@model IEnumerable<waTallerJhaka.Models.Factura>

@{
    ViewData["Title"] = "listadoFacturas";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<hr />
<div class="tables-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <h6 class="mb-10">Lista de Facturas</h6>
                <div class="table-wrapper table-responsive">
                    <table id="tabla" class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.ide_fac)
                                    </th>
                                    <th class ="text-center">
                                        @Html.DisplayNameFor(model => model.ide_cot)
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.fec_fac)
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.tot_fac)
                                    </th>
                                    <th class ="text-center">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.ide_fac)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.ide_cot)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.fec_fac)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.tot_fac)
                                        </td>
                                        <td class="text-center">
                                        @Html.ActionLink("Detalles", "detallesFactura", new { id = item.ide_fac }, new { @class = "btn btn-info" })
                                    </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                </div>
                <div class="d-flex justify-content-between">
                    <select id="rowsPerPage" class="form-select w-auto mb-3">
                        <option value="5">5 por página</option>
                        <option value="10">10 por página</option>
                        <option value="20">20 por página</option>
                    </select>
                    <div id="pagination" class="d-flex justify-content-center mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>